<h1><%= @room.name %></h1>
<% if current_user == @room.user %>
  <%= link_to "edit", room_edit_path @room %>
<% end %>
Currently Playing.. <br/> <%= @room.song_file %> <br/>
<%= audio_tag(@room.song_file, autoplay: true, controls: true) %>
<div style="width: 50%; margin-left: auto; margin-right: auto; border: 1px solid black; overflow: scroll">
  <div  id="messages" data-room-id="<%= @room.id %>">
    <%= render @room.messages %>
  </div>
  <form>
    <input id='send_box' type=text'/>
  </form>
</div>
