<!DOCTYPE html>
<html>
  <head>
    <title>Audiotorium</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless current_user.nil? %>
      <%= link_to('Log Out', destroy_user_session_path, method: :delete) %>
      <% end %>
    <%= yield %>
  </body>
</html>
